@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center center pt-5">
    <h1 class="display-4 text-uppercase fw-bolder text-black mt-4">Benvenuto!</h1>
    <h2 class="mt-5 text-black">Accedi o registrati per accedere all'elenco delle nostre squisite Pizze.</h2>
</div>
